<web-app>
    <servlet>
        <servlet-name>CountdownServlet</servlet-name>
        <servlet-class>com.example.servlets.CountdownServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CountdownServlet</servlet-name>
        <url-pattern>/countdown</url-pattern>
    </servlet-mapping>
</web-app>
